*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Fira Code', sans-serif;
    color: #fff;
}

body{
    height: 100vh;
    background: #272727; 
    padding: 34px;
}

p{ text-align: center; }

a{ text-decoration: none; }